# git 
alias gst='git status'
alias gbra='git branch'
alias gco='git checkout'
alias glog='git log --oneline'

# Python
alias nb="jupyter-notebook"
alias nbr="jupyter-notebook --no-browser --ip='157.82.147.147'"

# misc
alias ll='ls -laG'
alias tm='tmux attach'
alias chrome='/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome'
alias c='cd ..'
