# git 
alias gst='git status'
alias gbra='git branch'
alias gco='git checkout'
alias glog='git log --oneline'

# Python
alias nb="jupyter-notebook"

# misc
alias ll='ls -laG'
alias tm='tmux attach'
alias vim='nvim'
