# git 
alias gst='git status'
alias gbra='git branch'
alias gco='git checkout'
alias glog='git log --oneline'

# Python
alias nb="jupyter-notebook"
alias nbr="jupyter-notebook --no-browser --ip='157.82.147.153'"

# misc
alias ll='ls -laG'
alias tm='tmux attach'

# geeknote
alias enew='geeknote create --title `date "+%Y%m%d"` --tags "1_PROGRESS"'
alias eedit='geeknote edit --note `date "+%Y%m%d"` --content "WRITE"'
